services:
    
  # Code location server that runs gRPC server to load user code
  dagster-code-location:
    build:
      context: ..
      dockerfile: docker/dagster/Dockerfile_code
    container_name: dagster_code_location
    image: dagster-code-location:latest
    command: dagster api grpc -h 0.0.0.0 -p 4000 -f src/klangscribe_orchestration/definitions.py
    ports:
      - "4000:4000"
    networks:
      - dagster-network
    env_file:
      - ../.env
    volumes:
      - ../pyproject.toml:/opt/dagster/app/pyproject.toml
      - ../uv.lock:/opt/dagster/app/uv.lock
      - ../src:/opt/dagster/app/src
      - ../watch_dir:/mnt/watch_dir
    environment:
      - PYTHONPATH=/opt/dagster/app/src
      - DAGSTER_HOME=/opt/dagster/dagster_home
    restart: unless-stopped

  # Dagster Webserver
  dagster-webserver:
    build:
      context: ..
      dockerfile: docker/dagster/Dockerfile_dagster
    container_name: dagster_webserver
    image: dagster-base:latest
    command: dagster-webserver -h 0.0.0.0 -p 3000 -w /opt/dagster/workspace.yaml
    ports:
      - "3000:3000"
    networks:
      - dagster-network
    env_file:
      - ../.env
    volumes:
      - ../workspace.yaml:/opt/dagster/workspace.yaml
      - ../dagster.yaml:/opt/dagster/dagster_home/dagster.yaml
    environment:
      - DAGSTER_HOME=/opt/dagster/dagster_home
    depends_on:
      - dagster-code-location
    restart: unless-stopped

  # Dagster Daemon
  dagster-daemon:
    image: dagster-base:latest
    container_name: dagster_daemon
    command: dagster-daemon run -w /opt/dagster/workspace.yaml
    networks:
      - dagster-network
    env_file:
      - ../.env
    volumes:
      - ../workspace.yaml:/opt/dagster/workspace.yaml
      - ../dagster.yaml:/opt/dagster/dagster_home/dagster.yaml
    environment:
      - DAGSTER_HOME=/opt/dagster/dagster_home
    depends_on:
      - dagster-code-location
    restart: unless-stopped

networks:
  dagster-network:
    driver: bridge

volumes:
  dagster_postgres_data: